@font-face {
    font-family: 'raker_display';
    src: url(fonts/RAKER\ DISPLAY.TTF);
    font-style: normal;
}

@font-face {
    font-family: 'raker_display';
    src: url(fonts/RAKER\ DISPLAY\ BOLD.TTF);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'raker_display';
    src: url(fonts/RAKER\ DISPLAY\ BOLD\ ITALIC.TTF);
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'raker_display';
    src: url(fonts/RAKER\ DISPLAY\ HEAVY\ ITALIC.TTF);
    font-style: italic;
    font-weight: 900;
}